@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Different Ways Of DropdownList In ASP.NET MVC 5</h3>
</div>

<div class="container">
    <div class="row">
        @Html.ActionLink("1:- DropdownList using Hardcoded data in view", "DropdownListHardcoded", "Home")
        <br />
        @Html.ActionLink("2:- DropDownList using Viewbag", "UsingViewBag", "Home")
        <br />
        @Html.ActionLink("3:- DropDownList using Model", "UsingModel", "Home")
    </div>
</div>