
@{
    ViewBag.Title = "UsingViewBag";
}

<h2>DropdownList using ViewBag</h2>

@using (Html.BeginForm("UsingViewBag", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>DropdownList using ViewBag</label>
        @Html.DropDownList("SelectedProgram", (IEnumerable<SelectListItem>)ViewBag.MyPrograms, "Select Program", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Click</button>
}


